<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul class="row list-group list-group-flush">
    {{#each contents}}
        <li id="animal_{{this.id}}" class="col-3 list-group-item">
            <div class="card">
                <img src="{{this.image}}" class="card-img-top" alt="image sur {{this.name}}">
                <div class="card-body">
                    <h4>{{this.name}}</h4>
                    <p class="card-text">{{this.description}}.</p>
                </div>
            </div>
        </li>
    {{/each}}
</ul>